
*.pyc

network/modules/__pycache__/

*.pth

image_seg_network/checkpoints/experiment_vesnet/loss_log.txt

image_seg_network/checkpoints/experiment_unet/loss_log.txt

image_seg_network/checkpoints/experiment_unet_solo_bmode/

image_seg_network/checkpoints/experiment_unet_solo_bmode_continue_train/
